/* 
    Created on : 31-mag-2016, 10.51.31
    Author     : lbonaldo
*/

.only-border-top { border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px;}

.no-margin { margin: 0px;}

.no-underline:hover { text-decoration: none; cursor: pointer; }

.pagination-info { color: #555; cursor: default; border: none; }

.pagination-info:hover {
   cursor: default;
   color: #555;
   border: none;
   text-decoration: none;
} 

.noresize { resize: none; }

.logo { padding: 0px;}
.logo>img { height: 100%; width: auto; }

/** override table **/

.table>tbody>tr>td, 
.table>tbody>tr>th,
.table>thead>tr>td, 
.table>thead>tr>th { padding: 12px 2px 12px 2px; }
.table { margin-bottom: 2px; }
.table>thead>tr>th>a { color: #555 !important; }
.table>thead>tr>th>a:hover { color: #777 !important; }


.dropdown-menu>li>a { padding-bottom: 8px; padding-top: 8px; }
.dropdown-menu>li>a:hover { cursor: pointer; }

.vertical-divider { width: 10px; height: 10px; }

.helper:hover { cursor: help; }

.breadcrumb { padding: 0; background-color: #FFF; }

/* elemento contenutore per i messaggi ghost a scomparsa */
#alert-ghost-container { position:absolute; left:50%; top: 12%; width:500px; margin-left:-200px; z-index:20000; display: block; }

/* stile del menu a scomparsa sopra le immagini (tipo in gallery) */
.thumbnail-hover:hover { border: 1px solid #337ab7; }
.thumbnail-hover { position:relative; overflow:hidden; }
.caption-hover, 
.thumbnail-remove-loading {
   position:absolute;
   top:0;
   right:0;
   background:rgba(66, 139, 202, 0.75);
   padding:2%;
   display: none;
   text-align:center;
   color:#fff !important;
   z-index:2;
}
.thumbnail-remove-loading{ background:#FFF;  text-align: center; }


.form-dropdown{ -webkit-box-shadow:none; box-shadow:none; }

/* stile per il menu contestuale (right click) */
.ctx-menu { position: absolute; top: 0px; left: 0px; z-index: 9999; }

/* sub menu xk non presente in bootstrap 3 */

.dropdown-submenu { position:relative; }
.dropdown-submenu>.dropdown-menu {
   top:0;
   left:100%;
   margin-top:-6px;
   margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;
   -moz-border-radius:0 6px 6px 6px;
   border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu { display:block; }
.dropdown-submenu>a:after {
   display:block;
   content:" ";
   float:right;
   width:0;
   height:0;
   border-color:transparent;
   border-style:solid;
   border-width:5px 0 5px 5px;
   border-left-color:#cccccc;
   margin-top:5px;
   margin-right:-10px;
}
.dropdown-submenu:hover>a:after { border-left-color:#ffffff; }
.dropdown-submenu.pull-left { float:none; }
.dropdown-submenu.pull-left>.dropdown-menu {
   left:-100%;
   margin-left:10px;
   -webkit-border-radius:6px 0 6px 6px;
   -moz-border-radius:6px 0 6px 6px;
   border-radius:6px 0 6px 6px;
}